:root {
  --primary-color: #222222;
  --secondary-color: #ac1101;
  --paragraph-color: #3a3a3a;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-decoration: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  max-width: 900px;
  margin: 20px auto;
}

.millers-va-logo {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
}

h1 {
  margin-top: 40px;
  font-weight: 700;
}

.call-now {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  justify-content: right;
}

.phone-number {
  font-size: 50px;
  line-height: 93px;
  color: var(--secondary-color);
  font-weight: 700;
}

h2 {
  font-weight: 400;
  line-height: 40px;
  font-size: 40px;
  color: var(--secondary-color);
}

h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  font-style: italic;
  color: var(--secondary-color);
}

.paragraph-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--paragraph-color);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  width: 100%;
}
